*
!scripts
!scripts/*
!scripts/utils/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!.test/test.sh
!.test/input_catalog.faa
!config/
!config/*
!annotate.smk
!compare.smk
